agm-map {
    height: 15em;
   }

.options {
    text-align: center;
}

.modalContext {
    text-align: center;
}

.middle-row {
    text-align: center;
}

.text-loading {
    font-size: 13px;
    color: #8e8787;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #2c056a;
    }
}