
<po-page-default p-title="Nova Solicitação">
    <div class="xego-container">
    <po-stepper #stepper >
        <po-step class="po-sm-12" p-label="Buscar Ofertas" [p-can-active-next-step]="canActiveNextStep.bind(this, tripRequest)">                 
            <form #tripRequest="ngForm">
                <po-widget> 
                    <div class="po-md-12">
                        <div class="po-row space-row">
                            <po-input class="po-xl-12" name="inputLocal" p-placeholder="Para onde você vai?" p-clean p-icon="po-icon po-icon-search"></po-input>
                        </div>
                        <div class="po-row space-row">
                                <po-datepicker class="po-xl-4 po-sm-4" name="inputCheckIn" [(ngModel)]="checkIn" p-required p-label="Check-in"> </po-datepicker>
                                <po-datepicker class="po-xl-4 po-sm-4" name="inputCheckOut" [(ngModel)]="checkOut" p-required  p-label="Check-out"> </po-datepicker>
                                <po-number class="po-xl-4 po-sm-4 " name="inputQuantity" [(ngModel)]="qtPeople" p-required p-label="Qtd. Pessoas"> </po-number>
                        </div>
                        <div>
                        <po-button p-label="Buscar" (p-click)="stepper.next()"></po-button>
                        </div>
                        <!-- <div class="po-row space-row">
                            <po-widget class="po-xl-12" p-title="Localização">
                                <po-container p-no-shadow class="po-xl-12">
                                    <po-info p-label="Média da Região" p-orientation="horizontal" [p-value]="averagePrice"> </po-info>
                                </po-container>
                            </po-widget>
                        </div> -->
                    </div>
                     <!-- <div  class="po-lg-6 po-md-12">
                        <po-tabs class="po-sm-12">
                            <po-tab p-active="true" p-label="Faça sua oferta">
                                <po-decimal p-icon="po-icon po-icon-finance" class="po-xl-6 po-sm-12 space-row" p-decimals-length="2" name="inputEditAverage" [(ngModel)]="inputAverage"
                                p-label="Valor: " p-help="Nesse modo você irá receber seu orçamento em até 24h"></po-decimal>                                                        
                            </po-tab>
                            <po-tab p-label="Minha Oferta Garantida">
                                <po-decimal p-readonly p-icon="po-icon po-icon-finance" class="po-xl-6 po-sm-12 space-row" p-decimals-length="2" name="inputAverage" 
                                p-label="Valor médio da oferta garantida: " [(ngModel)]="averagePrice" p-help="Nesse modo você poderá escolher sua oferta na hora!"></po-decimal>    
                            </po-tab>
                        </po-tabs>
                    </div>   -->
                </po-widget>
            </form> 
        </po-step>
        <po-step p-label="Tipo de oferta" [p-can-active-next-step]="validOffer">
            <div style="display: flex;" class="xego-container shadowed">
                <p-card class="xego-container " style="flex: 1;" header="Oferta garantida" subheader="" [style]="{width: '360px'}" styleClass="p-card-shadow">
                    <p-header>
                        <img src="assets/choose.png">
                    </p-header>
                    <p>Com essa opção, você escolhe qual hotel deseja de acordo com a localização que foi selecionada na busca. O pagamento é realizado na hora em que você escolher seu hotel de preferência. </p>
                    <p-footer>
                        <po-decimal readonly name="txtMedia" p-placeholder="0,00" p-label="Média da região"  p-icon="po-icon po-icon-finance"> </po-decimal>
                        <po-button p-label="Escolher essa opção" p-icon="po-icon po-icon-ok" (p-click)="stepper.next()"></po-button>
                    </p-footer>
                </p-card>
                <p-card class="xego-container" style="flex: 1;" header="Minha Oferta" subheader="" [style]="{width: '360px'}" styleClass="p-card-shadow">
                    <p-header>
                        <img src="assets/choose2.png">
                    </p-header>
                    <p>Com essa opção, você define o quanto quer pagar pelo hotel e retornaremos com a melhor opção para você em até 24hrs. </p>
                    <p-footer>
                        <po-decimal name="input" p-placeholder="0,00" p-label="Valor a pagar"  p-icon="po-icon po-icon-finance"> </po-decimal>
                        <po-button p-label="Escolher essa opção" p-icon="po-icon po-icon-ok" (p-click)="stepper.next()"></po-button>
                    </p-footer>
                </p-card>
            </div> 

            
        </po-step>
        <po-step p-label="Escolha a oferta" [p-can-active-next-step]="validOffer">
            <div style="text-align: center; padding-top: 10%;">
                <div><p-progressSpinner></p-progressSpinner></div>
                <div class="text-loading">Buscando Ofertas...</div>
            </div>
        </po-step>
        <po-step p-label="Finalizar" [p-can-active-next-step]="validOffer">
            <po-widget
            p-height="500"
            p-primary-label="Nova Solicitação"
            (p-primary-action)="stepper.first()">
                <div style="text-align: center;padding-top: 8%;">
                    <img style="width: 10%;" src="assets/check.gif">
                    <div>
                        Oferta resgatada com sucesso! Tenha uma boa estadia!
                    </div>
                </div>
            </po-widget>
        </po-step>
    </po-stepper>
</div>
    
</po-page-default>